## ■ 신경망 활용 홈페이지

오라클 --> 파이썬 --> R shiny로 홈페이지 구축

## ■ 함수 사용법

1. 문자함수
2. 숫자함수
3. 날짜함수
4. 변환함수
5. 일반함수

## ■ 문자 함수

|   SQL   |    R    |
|:-------:|:-------:|
|  upper  | toupper |
|  lower  | tolower |
| substr  | substr  |
| replace | gsub    |

## 문제16. 이름과 직업을 출력하는데 소문자로 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)
data.table(이름=tolower(emp$ename), 직업=tolower(emp$job)) # tolower로 소문자로 출력하게 한다.

## 문제17.(subtr함수) 이름의 두번째 철자가 M인 사원들의 이름과 월급을 출력하는데 substr 함수를 이용해서 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)

# emp[행, 열]
emp[substr(emp$ename,2,2)=='M', c("ename", "sal")] # 2에서 부터 2까지 (이름의 2번째 자리부터 2번째 자리까지)

## 문제18. 이름을 출력하고 그 옆에 이름의 첫번째 철자부터 세번째 철자까지 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)

data.table(이름=(emp$ename), 이름=substr(emp$ename,1,3))

## 문제19.(gsub함수) 이름과 월급을 출력하는데 월급을 출력할 떄 숫자 0을 * 로 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)

data.table(emp$ename, gsub(0,'*',emp$sal))

## ■ 숫자함수

|  SQL  |     R     |
|:-----:|:---------:|
| round |   round   |
| trunc |   trunc   |
| mod   | %%        |
| power | ^(예:2^3) |

## 문제20.(^) 6의 9승을 출력하시오!

6^9

## 문제21. (%%) 10을 3으로 나눈 나머지값을 출력하시오!

10%%3

## 문제22.(round함수) 이름과 연봉을 출력하는데 연봉을 월급에 12를 곱해서 출력하고 컬럼명을 한글로 연봉으로 출력되게 하시오!

In [ ]:
# 이코드에서 업그레이드 할것
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)

data.table(이름=(emp$ename), 연봉=(emp$sal)*12)

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)

data.table(이름=(emp$ename), 연봉=round((emp$sal)*12,-3))

## ※ R의 round의 특징

122 ----- 122.5 ----- 123

round(122.5) = 122 선택  

123 ----- 123.5 ----- 124

round(123.5) = 124

### "R은 짝수를 좋아한다."

## 문제23.(trunc) 문제24번 결과를 다시 출력하는데 백자리를 포함해서 그 이후를 다 버려서 출력하시오!

In [ ]:
# trunc : 버림카드
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)

data.table(이름=(emp$ename), 연봉=trunc((emp$sal)*12,-3))

### 문제24. doBy 패키지를 이용해서 위의 결과를 정렬해서 출력하시오! 연봉이 높은것부터 출력하시오!

In [ ]:
# trunc : 버림카드
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)

# install.packages("doBy")
library(doBy)

orderBy(~-연봉, data.table(이름=(emp$ename), 연봉=trunc((emp$sal)*12,-3)))
# 뒤에 있는 결과를 ~-연봉 즉, 연봉이 높은 순서대로(-를 붙임으로써) 출력하겠다는 뜻.

## ■ 일반함수

|   오라클   |    R   |
|:----------:|:------:|
|   nvl함수  |  is.na |
| decode함수 | ifelse |
| case함수   | ifelse |

## 문제25. 이름, 월급, 등급을 출력하는데 월급이 1500이상이면 등급을 A로 출력하고 아니면 B로 출력하시오!

In [ ]:
SQL>
select ename,sal, case when sal>=1500 then 'A'
                    else 'B' end as "등급"
    from emp;

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)
data.table(이름=emp$ename, 월급=emp$sal, 등급=ifelse(emp$sal >=1500, 'A', 'B'))

## 문제26. is.na 함수를 이용해서 커미션이 NA인 사원들의 이름과 커미션을 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)

emp[is.na(emp$comm), c("ename", "comm")]

## 문제27. ifelse와 is.na를 이용해서 아래의 SQL을 R로 변경하시오!

In [ ]:
SQL> 
select ename, nvl(to_char(comm), 'no comm')
from emp

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(data.table)
data.table(이름=emp$ename, 커미션=ifelse(is.na(emp$comm), 'no comm', emp$comm))

## ■ R에서의 그룹함수

| 오라클 |       R      |
|:------:|:------------:|
|   max  |      max     |
|   min  |      min     |
|   sum  |      sum     |
|   avg  |     mean     |
|  count | length(세로) |
|        |  table(가로) |

## 문제28. 최대월급을 출력하시오!

max(emp$sal)

## 문제29. 직업이 SALESMAN인 사원들 중에서 최대월급을 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
x<-emp[emp$job == 'SALESMAN', 'sal']
x # [1] 1250 1600 1500 1250
max(x) # [1] 1600

## 문제30. 직업, 직업별 최대월급을 출력하시오!

In [ ]:
SQL>
select job, max(sal)
    from emp
    group by job;

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
aggregate(sal~job, emp, max)

## 문제31. 부서번호, 부서번호별 최소월급을 출력하시오!

In [ ]:
SQL>
select deptno, min(sal)
    from emp
    group by deptno;

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
aggregate(sal~deptno,emp,min)

## 문제32. 부서번호, 직업, 부서번호별 직업별 토탈월급을 출력하시오!

In [ ]:
SQL>
select deptno, job, sum(sal)
    from emp
    group by deptno, job;

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
aggregate(sal~deptno+job,emp,sum)

## 문제33. 위의 결과를 다시 출력하는데 부서번호를 정렬해서 낮은번호부터 나오게 출력하시오!

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(doBy)
orderBy(~deptno,aggregate(sal~deptno+job,emp,sum))

## 문제34. 부서번호, 부서번호별 토탈월급을 출력하는데 토탈월급이 높은것부터 출력하게하시오!

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(doBy)
orderBy(~-sal,aggregate(sal~deptno,emp,sum))

## 문제35. 위의 결과에 컬럼명을 한글로 부서번호, 토탈월급으로 변경하시오!

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
library(doBy)
x <- orderBy(~-sal,aggregate(sal~deptno,emp,sum))


names(x) <- c("부서번호", "토탈월급")
x

## 문제36. 직업, 직업별 인원수를 출력하시오!

In [ ]:
SQL>
select job, count(*)
    from emp
    group by job;

In [ ]:
# 세로로출력
R> 
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
aggregate(empno~job,emp, length)

In [ ]:
# 가로로 출력
R>

setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
table(emp$job)

## 문제37. 위의 결과를 막대 그래프로 그리시오!

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
x<- table(emp$job)
barplot(x, main="직업별 인원수", col=rainbow(5), density=50)

## 문제38. 직업, 직업별 평균월급을 출력하는데 세로, 가로 둘다 출력하시오!

In [ ]:
# 세로 출력
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
aggregate(sal~job,emp,mean)

In [ ]:
# 가로 출력
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
tapply(emp$sal, emp$job, mean)

## 문제39. 위의 결과에서 소수점 이하는 안나오게 하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
trunc(tapply(emp$sal, emp$job, mean))

## 문제40. 입사한 년도를 4자리로 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
format(as.Date(emp$hiredate), '%Y')

# as.Date : 날짜로 형변환하는 함수
# %Y : 년도 4자리 포맷형식

## 문제42. 입사한 년도와 입사한 년도별 토탈월급을 가로로 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
tapply(emp$sal, format(as.Date(emp$hiredate), '%Y'), sum)
tapply(emp$sal, year(emp$hiredate), sum)

## 문제43. 직업, 부서번호, 직업별 부서번호별 토탈월급을 출력하시오!

In [ ]:
SQL>
select job, sum(decode(deptno, 10, sal)) as "10",
            sum(decode(deptno, 20, sal)) as "20",
            sum(decode(deptno, 30, sal)) as "30"
        from emp
        group by job;

In [ ]:
R>
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
tapply(emp$sal, list(emp$job, emp$deptno), sum)

## 문제44. 위의 결과에서 NA를 0으로 변경해서 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
x <- tapply(emp$sal, list(emp$job, emp$deptno), sum)

x[is.na(x)] <- 0 # na인 애들이 모두 True로 나오는데 그것들은 0으로 바꾸어라!
x

## 문제45. 위의 결과에서 column name과 row name을 각각 출력하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
x <- tapply(emp$sal, list(emp$job, emp$deptno), sum)

colnames(x)
rownames(x)

## 문제46. 문제44번의 결과를 막대그래프로 시각화 하시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
x <- tapply(emp$sal, list(emp$job, emp$deptno), sum)

x[is.na(x)] <- 0 # na인 애들이 모두 True로 나오는데 그것들은 0으로 바꾸어라!
x

barplot(x, col=rainbow(5), legend = rownames(x), beside=T)

## 문제47. (점심시간문제) 입사한 년도별 직업별 토탈월급을 막대그래프로 그리시오!

In [ ]:
setwd("d:\\data")
emp <- read.csv("emp.csv", header=T)
x <- tapply(emp$sal,  list(year(emp$hiredate), emp$job), sum)
x[is.na(x)] <- 0 # na인 애들이 모두 True로 나오는데 그것들은 0으로 바꾸어라!


barplot(x, col=rainbow(4), legend = rownames(x), beside=T)